.container{
    max-width: 1600px;
    margin: 0 auto;
}

.benefist{
    display: flex;
    gap: 20px;

}
.benefist-item{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    border-radius: 12px;
    background: white;

}
.benefist-number{
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.benefist-title{
    font-size: 24px;
    font-weight: bold;
    margin: 50px;


}
.benefist-description{
    font-size: 18px;
    color: #4C4C4D;
}